html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.divTitleButtonFilter{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.btnFilter{
    height: 40px;
    align-self: center;
    margin-inline-start: auto;
}
.lineCard{
    margin-top: 10px;
    margin-bottom: 10px;
}
.divInfoModel{
    display: flex;
}
.divInfoModelSec{
    flex: 1;
}
.pDate{
    text-align: center;
}
.divTab {
    background-color: transparent!important;
}
.tabLink{
    font-weight: bold;
}
.logoImg{
    width: 700px;
    margin: 20px auto;
}

.btn-redirect-to-signup{
    color: white;
}
.navbar-collapse{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fixed-top{
    position: fixed!important;
    min-height: 65px!important;
}
.navbar-brand{
    padding: 5px !important;
}

.form-left-align{
    padding-left: 0px;
}

.image-animal{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.image-animal-grid{
    object-fit: cover;
    max-width: 200px !important;
    max-height: 140px !important;
}

a.btn{
    color: white !important;
    width: 100px;
    margin: 5%;
}

.table td, .table th{
    max-width: 200px;
    text-align: center;
    vertical-align: middle !important;
}

.rescueImg{
    width: 300px !important;
}
.btn-newMembers{
    width: 100% !important;
    margin: 0 !important;
    align-self: flex-end;
    font-size: 15px !important;
}
.subTitle{
    color: #a08170;;
    font-weight: 200;
}

